In [53]:
import pandas as pd
import numpy as np

In [54]:
df =pd.read_csv("ml.csv")
df.isna

<bound method DataFrame.isna of     CustomerID   Age  Gender       City    Income  SpendingScore  \
0            1  25.0    Male     Mumbai   40000.0           60.0
1            2  45.0  Female      Delhi   80000.0           40.0
2            3  35.0    Male  Bangalore   60000.0           70.0
3            4  29.0  Female    Chennai       NaN           85.0
4            5  52.0    Male      Delhi  120000.0            NaN
5            6  23.0  Female     Mumbai   35000.0           95.0
6            7   NaN    Male  Bangalore   75000.0            NaN
7            8  31.0  Female    Chennai   54000.0           65.0
8            9  28.0    Male     Mumbai   48000.0           75.0
9           10  50.0  Female      Delhi  110000.0           20.0
10          11  37.0    Male  Bangalore   67000.0            NaN
11          12   NaN  Female    Chennai   42000.0           88.0
12          13  48.0    Male      Delhi   95000.0           35.0
13          14  33.0  Female     Mumbai   58000.0           72.0
14          15  55.0    Male  Bangalore  130000.0           15.0
15          16  27.0  Female      Delhi   46000.0           80.0
16          17  42.0    Male    Chennai   72000.0            NaN
17          18  30.0  Female     Mumbai   51000.0           68.0
18          19  39.0    Male  Bangalore   70000.0           58.0
19          20  24.0  Female    Chennai   39000.0           92.0

    YearsExperience  Department EducationLevel HasLoan  CreditScore  \
0                 2       Sales       Bachelor      No        650.0
1                15          HR         Master     Yes        720.0
2                10          IT       Bachelor      No        690.0
3                 5   Marketing       Bachelor      No        710.0
4                25  Management            PhD     Yes        800.0
5                 1       Sales       Bachelor      No        620.0
6                12          IT         Master     Yes        730.0
7                 7   Marketing         Master      No        680.0
8                 4       Sales       Bachelor      No          NaN
9                22  Management            PhD     Yes        790.0
10               11          IT         Master      No        710.0
11                3   Marketing       Bachelor      No        640.0
12               20          HR         Master     Yes        750.0
13                8       Sales         Master      No        695.0
14               30  Management            PhD     Yes        820.0
15                4   Marketing       Bachelor      No        660.0
16               14          IT         Master     Yes        725.0
17                6       Sales       Bachelor      No        690.0
18               13          IT         Master     Yes        705.0
19                2   Marketing       Bachelor      No        630.0

    Target_Bought  Target_Salary
0               1          35000
1               0          78000
2               1          62000
3               1          48000
4               0         130000
5               1          30000
6               0          82000
7               1          56000
8               1          45000
9               0         120000
10              1          70000
11              1          39000
12              0         100000
13              1          60000
14              0         140000
15              1          43000
16              0          76000
17              1          52000
18              0          73000
19              1          36000  >

In [55]:
num_cols  = df.select_dtypes(include="number").columns
cat_cols  = df.select_dtypes(include="category").columns

In [56]:
for col in num_cols:
   df[col]= df[col].fillna(df[col].median())
df.isna().sum()

CustomerID         0
Age                0
Gender             0
City               0
Income             0
SpendingScore      0
YearsExperience    0
Department         0
EducationLevel     0
HasLoan            0
CreditScore        0
Target_Bought      0
Target_Salary      0
dtype: int64

In [57]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       20 non-null     int64
 1   Age              20 non-null     float64
 2   Gender           20 non-null     str
 3   City             20 non-null     str
 4   Income           20 non-null     float64
 5   SpendingScore    20 non-null     float64
 6   YearsExperience  20 non-null     int64
 7   Department       20 non-null     str
 8   EducationLevel   20 non-null     str
 9   HasLoan          20 non-null     str
 10  CreditScore      20 non-null     float64
 11  Target_Bought    20 non-null     int64
 12  Target_Salary    20 non-null     int64
dtypes: float64(4), int64(4), str(5)
memory usage: 2.2 KB

In [58]:
from sklearn.preprocessing import LabelEncoder
df_label = df.copy()
le = LabelEncoder()
df_label["Gender_Encoded"]= le.fit_transform(df_label["Gender"])


df.isna().sum()
df.dtypes

CustomerID           int64
Age                float64
Gender                 str
City                   str
Income             float64
SpendingScore      float64
YearsExperience      int64
Department             str
EducationLevel         str
HasLoan                str
CreditScore        float64
Target_Bought        int64
Target_Salary        int64
dtype: object

In [59]:
df_encode = pd.get_dummies(df, columns=["City"])
df_encode = pd.get_dummies(df, columns=["Department"])

In [60]:

from sklearn.preprocessing import StandardScaler
st_Scalar = StandardScaler()
Scaled = st_Scalar.fit_transform(df[num_cols])
print(pd.DataFrame(Scaled,columns=num_cols))

    CustomerID       Age    Income  SpendingScore  YearsExperience  \
0    -1.647509 -1.167711 -1.034397      -0.219710        -1.079850
1    -1.474087  0.945793  0.464729      -1.154647         0.533719
2    -1.300665 -0.110959 -0.284834       0.247758        -0.086884
3    -1.127243 -0.745010 -0.284834       0.948961        -0.707488
4    -0.953821  1.685520  1.963856       0.201011         1.774926
5    -0.780399 -1.379062 -1.221788       1.416429        -1.203971
6    -0.606977 -0.216634  0.277338       0.201011         0.161357
7    -0.433555 -0.533660 -0.509703       0.014024        -0.459247
8    -0.260133 -0.850686 -0.734572       0.481492        -0.831609
9    -0.086711  1.474170  1.589074      -2.089584         1.402564
10    0.086711  0.100391 -0.022487       0.201011         0.037236
11    0.260133 -0.216634 -0.959441       1.089201        -0.955729
12    0.433555  1.262819  1.026902      -1.388381         1.154322
13    0.606977 -0.322310 -0.359790       0.341252        -0.335126
14    0.780399  2.002546  2.338637      -2.323318         2.395529
15    0.953821 -0.956361 -0.809528       0.715227        -0.831609
16    1.127243  0.628768  0.164904       0.201011         0.409598
17    1.300665 -0.639335 -0.622138       0.154265        -0.583367
18    1.474087  0.311742  0.089948      -0.313204         0.285478
19    1.647509 -1.273387 -1.071875       1.276189        -1.079850

    CreditScore  Target_Bought  Target_Salary
0     -1.057545       0.816497      -1.078496
1      0.264386      -1.224745       0.295588
2     -0.302156       0.816497      -0.215699
3      0.075539       0.816497      -0.663076
4      1.775166      -1.224745       1.957271
5     -1.624088       0.816497      -1.238274
6      0.453234      -1.224745       0.423410
7     -0.491003       0.816497      -0.407432
8     -0.018885       0.816497      -0.758942
9      1.586318      -1.224745       1.637717
10     0.075539       0.816497       0.039944
11    -1.246393       0.816497      -0.950675
12     0.830929      -1.224745       0.998608
13    -0.207732       0.816497      -0.279610
14     2.152860      -1.224745       2.276826
15    -0.868698       0.816497      -0.822853
16     0.358810      -1.224745       0.231677
17    -0.302156       0.816497      -0.535254
18    -0.018885      -1.224745       0.135811
19    -1.435240       0.816497      -1.046541

In [61]:
print(df)

    CustomerID   Age  Gender       City    Income  SpendingScore  \
0            1  25.0    Male     Mumbai   40000.0           60.0
1            2  45.0  Female      Delhi   80000.0           40.0
2            3  35.0    Male  Bangalore   60000.0           70.0
3            4  29.0  Female    Chennai   60000.0           85.0
4            5  52.0    Male      Delhi  120000.0           69.0
5            6  23.0  Female     Mumbai   35000.0           95.0
6            7  34.0    Male  Bangalore   75000.0           69.0
7            8  31.0  Female    Chennai   54000.0           65.0
8            9  28.0    Male     Mumbai   48000.0           75.0
9           10  50.0  Female      Delhi  110000.0           20.0
10          11  37.0    Male  Bangalore   67000.0           69.0
11          12  34.0  Female    Chennai   42000.0           88.0
12          13  48.0    Male      Delhi   95000.0           35.0
13          14  33.0  Female     Mumbai   58000.0           72.0
14          15  55.0    Male  Bangalore  130000.0           15.0
15          16  27.0  Female      Delhi   46000.0           80.0
16          17  42.0    Male    Chennai   72000.0           69.0
17          18  30.0  Female     Mumbai   51000.0           68.0
18          19  39.0    Male  Bangalore   70000.0           58.0
19          20  24.0  Female    Chennai   39000.0           92.0

    YearsExperience  Department EducationLevel HasLoan  CreditScore  \
0                 2       Sales       Bachelor      No        650.0
1                15          HR         Master     Yes        720.0
2                10          IT       Bachelor      No        690.0
3                 5   Marketing       Bachelor      No        710.0
4                25  Management            PhD     Yes        800.0
5                 1       Sales       Bachelor      No        620.0
6                12          IT         Master     Yes        730.0
7                 7   Marketing         Master      No        680.0
8                 4       Sales       Bachelor      No        705.0
9                22  Management            PhD     Yes        790.0
10               11          IT         Master      No        710.0
11                3   Marketing       Bachelor      No        640.0
12               20          HR         Master     Yes        750.0
13                8       Sales         Master      No        695.0
14               30  Management            PhD     Yes        820.0
15                4   Marketing       Bachelor      No        660.0
16               14          IT         Master     Yes        725.0
17                6       Sales       Bachelor      No        690.0
18               13          IT         Master     Yes        705.0
19                2   Marketing       Bachelor      No        630.0

    Target_Bought  Target_Salary
0               1          35000
1               0          78000
2               1          62000
3               1          48000
4               0         130000
5               1          30000
6               0          82000
7               1          56000
8               1          45000
9               0         120000
10              1          70000
11              1          39000
12              0         100000
13              1          60000
14              0         140000
15              1          43000
16              0          76000
17              1          52000
18              0          73000
19              1          36000